<div id="view-kanban">
    <div class="kanban" id="kanban-board">
        <div id="view-lista" style="display:none">
            <div class="table-wrap">
                <table>
                    <thead>
                        <tr>
                            <th>Projeto</th>
                            <th>Setor</th>
                            <th>Status</th>
                            <th>Prioridade</th>
                            <th>Responsável atual</th>
                            <th>Etapa atual</th>
                            <th>Dias na etapa</th>
                            <th>Dias total</th>
                            <th>Prazo</th>
                            <th>Prog.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
        <div class="kanban" id="kanban-board" style="grid-template-columns: repeat(4, minmax(0px, 1fr));">
            <div class="col">
                <span class="col-title">Backlog</span>
                <span class="col-count">0</span>
                <KanbanCard/>
            </div>
            <div class="col">
                <span class="col-title">Em andamento</span>
                <span class="col-count">0</span>
            </div>
            <div class="col">
                <span class="col-title">Revisão</span>
                <span class="col-count">0</span>
            </div>
            <div class="col">
                <div class="col-head">
                    <span class="col-title">Concluído</span>
                    <span class="col-count">0</span>
                </div>
            </div>
        </div>
    </div>
</div>